/* cyrillic-ext */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/rubik/v18/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFWkU1Z4Y.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/rubik/v18/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFU0U1Z4Y.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* hebrew */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/rubik/v18/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFVUU1Z4Y.woff2) format('woff2');
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/rubik/v18/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFWUU1Z4Y.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/rubik/v18/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFV0U1.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

*{
    font-family: 'Rubik';
    font-style: normal;
}

.title {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
}
.section-one{
    margin-bottom: 150px;
    padding: 30px;
    background: #F6F6F6;
}

.disc
{
    width: 37%;
    margin: 0 auto 50px auto;
    color: #4F5665;
    line-height: 30px;
}

.rectangle{
    display: flex;
    gap: 43px;
    justify-content: center;
    align-items: center;
}

.plan{
    position: relative;
    width: 340px;
    height: 790px;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 10px;
    padding-top : 70px;
    transition: 0.7s;
}

.sub-title{
    line-height: 30px;
    text-align: center;
    color: #0B132A;
}
.boxPlan{
    margin: 25px;;
}

.vector{
    margin-right: 11px;
}

.plan-list{
    list-style-type:none;
    margin-left: 30%;
    padding: 0;
    text-align: left;
}

.list{
    font-size: 14px;
    line-height: 40px;
    color: #4F5665;
}
.plan-name{
    position: absolute;
    bottom: 50px;
    left:25%;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
   
}

.plan:hover{
    border-color: #F53838;
}
.button-select{
    transition: 0.7s;
    width: 177.88px;
    height: 45px;
    font-size:16px;
    border: 2px solid #F53838;
    box-sizing: border-box;
    border-radius: 50px;
    color: #F53838;
    font-weight: bold;
    background: #FFFFFF;
}

.button-select:hover{
    background-color: #F53838;
    color: #FFFFFF;
    -webkit-box-shadow: -3px 33px 33px -17px rgba(245,56,56,1);
    -moz-box-shadow: -3px 33px 33px -17px rgba(245,56,56,1);
    box-shadow: -3px 33px 33px -17px rgba(245,56,56,1);
}
.mo{
    font-weight: 100;
    color: #4f5665db;
    font-size: 25px;
}