.containerTow {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: 400px;
    height: 230px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #FFFFFF;
    border: 2px solid #F53838;
}

.contents {
    display: flex;
    flex-direction: column;
    
}

.img-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 24px;
}

.flex-start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.img-box {
    width: 50px;
    height: 50px;
}

.name {
    width: 112px;
    height: 18px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;

    display: flex;
    align-items: center;
    text-align: center;
    color: #0B132A;
}

.address {
    width: 101px;
    height: 14px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #4F5665;
}

.number {

    width: 24px;
    height: 16px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;

    color: #0B132A
}

.rate {
    display: flex;
    flex-direction: row;
}

.description{
width: 340px;
height: 100px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
margin-left: 35px;
color: #0B132A;

}