.about {
    width: 80%;;
    margin: auto;
}

.about-content {
    width: 100%;
    height: 90vh;
    margin: auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.description {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    text-align: left;
}

.description h2 {
    font-Weight: 500;
    font-Size: 47px;
    color: #0B132A;
    line-height: 40px
}

.description h2 h1 {
    font-Weight: 700;
    font-Size: 50px;
    color: #0B132A;
    display: inline-block;
    margin-left: 10px;
}

.description p {
    color: #4F5665;
    text-align: left;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 40px;
}

.description button {
    width: 150px;
    height: 45px;
    color: #fff;
    border: none;
    background: #F53838;
    border-radius: 10px;
    -webkit-box-shadow: 2px 9px 22px -1px rgba(245,56,85,1);
-moz-box-shadow: 2px 9px 22px -1px rgba(245,56,85,1);
box-shadow: 2px 9px 22px -1px rgba(245,56,85,1);
} 

.image {
    width: 45%;
}

.rating {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 6px #cccccc2e;
    padding: 55px;
}
.rating div {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-container {
    width: 20px;
    height: 40px;
    background: #FFECEC;
    border-radius: 50%;
}

.icon {
    color: #F53838;
}

.image img{
    width:98%;
}

.description span {
    font-weight: 600;
}