.containerThree {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

hr {
    width: 25px;
    height: 12px;
    background-color: red;
    box-sizing: border-box;
    border: none;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
    margin-top: 38px;
    margin-left: 20px;


}

.slick-dots {
    margin-left: -43%;
    margin-bottom: -30px;
}

.slick-dots li button {
    width: 15px;
    height: 15px;
    color: #DDE0E4;
}




/* .slides .slick-prev,
.slides .slick-next {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
} */




.slides .slick-prev {
    display: flex;
    margin-top: 11.3%;
    margin-left: 90%;

}

.slides .slick-next {

    display: flex;
    margin-top: 11.3%;
    margin-right: 10%;
    
}