

.containerFooter {
    margin: 0 145px;
}

.prefooter {
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 6px #cccccc2e;
    padding: 55px;
    margin: 80px auto;
}


.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subscribe {
    width: 371.61px;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    color: #0B132A;
    text-align: left;
    align-self: self-start;
}

.lets-subscribe {
    line-height: 30px;
    color: #4F5665;
    text-align: start;
    margin-top: 11px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.Sub{
    display: inline-block;
    width: 250px;
    height: 60px;
    background: #F53838;
    border-radius: 10px;
    text-decoration: none;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 13px 5px -7px rgba(245, 56, 54, 0.35);
    -moz-box-shadow: 0px 13px 5px -7px rgba(245, 56, 54, 0.35);
    box-shadow: 0px 13px 5px -7px rgba(245, 56, 54, 0.35);

}
.Sub:hover {
    color: #FFFFFF;
}
